@model List<MovieProject.Models.Movie>

@{
    ViewBag.Title = "Browse";
}

 @using (Html.BeginForm("Browse", "Home"))
 {
    <p>
        Search: @Html.TextBox("searchMovie")
        <input type="submit" value="Find">

    </p>
    <p class="text-danger">@ViewBag.ErrorMessage</p>
 }

<div class="row">
    @foreach (var movie in Model)
    {
        Html.RenderPartial("_MoviePartial", movie);
    }
</div>