@model List<MovieProject.Models.Movie>

@{
    ViewBag.Title = "Browse";
}

 @using (Html.BeginForm("Browse", "Home"))
 {
    <p>
        Search: @Html.TextBox("searchMovie")
        <input type="submit" value="Find">

    </p>
    <p class="text-danger">@ViewBag.ErrorMessage</p>
 }


@Html.Partial("MoviePartial", Model)


