@model MovieProject.Models.FrontPageView

@{
    ViewBag.Title = "Home";
}
<br />
<h3>Most Popular Movies</h3>
<div class="row">
    @foreach (var item in Model.MostPopular)
    {
        Html.RenderPartial("_MoviePartial", item);
    }
</div>
<br />
<h3>Newest Movies</h3>
<div class="row">
@foreach (var item in Model.Newest)
{
    Html.RenderPartial("_MoviePartial", item);
}
</div>
<br />
<h3>Cheapest Movies</h3>
<div class="row">
    @foreach (var item in Model.Cheapest)
    {
        Html.RenderPartial("_MoviePartial", item);
    }
</div>
<br />
<h3>Oldest Movies</h3>
<div class="row">
    @foreach (var item in Model.Oldest)
    {
        Html.RenderPartial("_MoviePartial", item);
    }
</div>
<br />
<div>
    <h3 style="text-align: center">Biggest Spender: @Html.DisplayFor(model => Model.BestCustomer.FirstName) @Html.DisplayFor(model => Model.BestCustomer.LastName)</h3>
</div>