@model MovieProject.Models.FrontPageView

@{
    ViewBag.Title = "Index";
}

<table>
    @foreach (var item in Model.MostPopular)
    {
        <tr>
            <td>
                @Html.DisplayFor(movie => item.Title)
            </td>
            <td>
                @Html.DisplayFor(movie => item.Director)
            </td>
        </tr>
    }
</table>

