@model MovieProject.Models.Order

<div class="container">
    <h4>Order #@Model.Id</h4>
    <hr />
    <h5>
    <b>Movies</b>
    </h5>
    <table>
        @foreach (var orderRow in Model.OrderRows)
        {
            <tr>
                <td>
                    @orderRow.Movie.Title
                </td>
            </tr>
        }
    </table>
    <hr />
    <p>Date of purchase: @Model.OrderDate.ToString()</p>
    <p>Total Price: @Model.OrderRows.Sum(r => r.Price) Kr</p>
    <hr />
</div>